
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

:root{
    --balck: #0d114f;
    --white: #fafafa;
    --light-blue: #e0ecff;
    --blue: #3485ff;
    --red: #e83f5b;
    --overlay: #040911;
    --background: #f6faff;
    --icons-details: #a5b0c1;
    --grey-dark: #4d5e77;
    --gray-blue: #a1b2cd;
    --gray-light: #e5eaf1;

    font-size: 62.5%;
}

body{
    height: 100vh;
    background: var(--background);
}

body, button, input, textarea{
    /* intervalo de tamanho dependendo do tamanho da tela */
    font-size: clamp(14px, 1.6rem, 2vw);

    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
}

.content{
    width: 100%;
    margin: 0 auto;
}

.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* -------input and buttons*/
input, button, .button{
    height: 5rem;
    border-radius: 0.8rem;
}

button, .button{
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0;
}