
.content{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem 1fr;

    grid-template-areas: 
    'header header'
    'left right'
    ;
}

header{
    grid-area: header;
}

.home-back{
    grid-area: left;
    background: url('../img/home-bg-img.svg') no-repeat top/contain;
    background-position-x: -10rem;
}

main{
    grid-area: right;
    display: flex;
    align-items: center;
    margin-top: -3rem;
}

main .container{
    width: min(36.3rem, 100%);
}

main h2{
    font-family: 'Poppins', sans-serif;
    color: var(--balck);
    font-size: clamp(20px, 5vw, 2.8rem);
    margin-bottom: 2.4rem;
    font-weight: 700;
}

input{
    border: 0.2rem solid var(--gray-blue);
    padding: 0 1.6rem;
}

input, button, .button{
    width: 100%;
    margin-bottom: 1.8rem;
}

/* Separador line*/

.separador{
    display: flex;
    align-items: center;
}

.separador div:nth-child(2){
    color: var(--gray-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 1.35rem;
    line-height: 0;
}

.separador div:nth-child(1), .separador div:nth-child(3){
    background: var(--gray-blue);
    width: 100%;
    height: 1px;
}